<div class="container top30 animated fadeIn">
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail img-circle" src="{{artista.images | noImage}}">
        </div>
        <div class="col-md-9">
            <h1>{{artista.name}}</h1>
            <hr>
            <a target="_blank" class="btn btn-outline-success" href="{{artista.external_urls.spotify}}">Abrir en Spotify</a>
            &nbsp;
            <button class="btn btn-outline-danger" (click)="volver()">Volver</button>
        </div>
    </div>
    <div class="row top30">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Nombre</th>
                    <th>Popularidad</th>
                    <th>Escuchar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td><img class="img-thumb" src="{{track.album.images | noImage}}"></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>{{track.popularity}}%</td>
                    <td><iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
